* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-image: url(/proyecto/svg/wave-haikei\ \(1\).svg);
    background-size: 100%;
}


/*-----------NAVBAR-----------*/

.etiqueta__nav {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #fff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo a img {
    max-width: 150px;
}

.nav__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all .8s ease;
}
.fondoBurguer{
    background-color: rgba(120, 120, 120, 0.537);
    color: #fff;
    border-radius: 10px;
}

.nav__item a {
    transition: all .8s ease;
    text-decoration: none;
    color: #fff;
}

.nav__item:hover {
    color: #fdbe01;
}

.nav__item a:hover {
    color: #fdbe01;
}

.nav__ul {

    text-decoration: none;
}

.nav__label,
.nav__input {
    display: none;

}


@media(max-width: 900px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__ul {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #000000df;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 50% 50%);
        ;
        transition: clip-path 1s ease-in-out;
    }

    .nav__input:checked+.nav__ul {
        clip-path: circle(100% at center);
    }
}


/*----------- FIN NAVBAR-----------*/



/*-----------    BODY   -----------*/

.titulo{
    text-align: center;
    margin-top: 10%;
    font-size: 55px;

}
