@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400&display=swap');   
*{ 
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    color: #fff;
}

body {
    background-image: url(/proyecto/svg/wave-haikei\ \(1\).svg);
    background-size: 100%;
}




/*-----------NAVBAR-----------*/

.etiqueta__nav {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #fff;
    z-index: 999;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo a img {
    max-width: 150px;
}

.nav__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    text-decoration: none;
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all .8s ease;
}

.fondoBurguer{
    background-color: rgba(120, 120, 120, 0.537);
    color: #fff;
    border-radius: 10px;
}

.nav__item a {
    transition: all .8s ease;
    text-decoration: none;
    color: #fff;
}

.nav__item a:hover{
    color: #fdbe01;
}
i a:hover{
    color: #fdbe01;
}


.nav__label,
.nav__input {
    display: none;
}


@media(max-width: 900px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__ul {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #000000df;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 50% 50%);
        transition: clip-path 1s ease-in-out;
    }

    .nav__input:checked+.nav__ul {
        clip-path: circle(100% at center);
    }
}


/*----------- FIN NAVBAR-----------*/



/*-----------    BODY   -----------*/
.tit{
    margin-top: 100px;
    text-align: center;
    margin: 80px auto 80px;
    position: relative;
    line-height: 60px;
    color:#fff;
}

.tit::after {
    content: '';
    text-align: center;
    background: #fdbe01;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.titulo{
    color: #fdbe01;
    text-align: center;
    margin-top: 10%;
    font-size: 55px;
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: top 70px right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
}

.banner-1 {
    background-image: url(../imagenes/fondos/pexels-kaique-rocha-90365.jpg);
}
.banner-2 {
    background-image: url(../imagenes/fondos/pexels-malcolm-garret-4656606.jpg);
}
.banner-3 {
    background-image: url(../imagenes/fondos/pexels-grailify-4495409.jpg);
}
.banner-1, .banner-2, .banner-3 {
    margin-bottom: 50px;
}
.banner-1 a, .banner-2 a, .banner-3 a {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    color: #000000;
    background-color: #fdbe01;
}
.banner-1 a:hover, .banner-2 a:hover, .banner-3 a:hover {
    color: #000000;
}
.banner-3 {
    margin-bottom: 200px;
}
.botonVolverTienda {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    color: #000000;
    background-color: #fdbe01;
}
.botonVolverTienda:hover {
    color: #000000;
}


